# FastAPI Framework
fastapi
uvicorn[standard]

# MongoDB Driver
motor
pymongo

# Data Validation
pydantic
email-validator

# Cloudinary
cloudinary
email-validator

# Environment Variables
python-dotenv

# File Upload Support
python-multipart

# YOLOv8 for Object Detection
ultralytics

httpx
